<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>All Flight Details</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>FlightNumber</th>
            <th>FlightName</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>FlightDate</th>
            <th>FlightTime</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flights of Flight ">
            <td>{{flights.flightNumber}}</td>
            <td>{{flights.flight_Name}}</td>
            <td>{{flights.origin}}</td>
            <td>{{flights.destination}}</td>
           
            <td>{{flights.flightdate}}</td>
            <td>{{flights.flight_time}}</td>




           

            
           
            
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
  
  